@import 'variables';

@mixin tablet-design{
    @media only screen and (min-width: $sm) {
        @content;
    }
}

@mixin laptop-design{
    @media only screen and (min-width: $md) {
        @content;
    }
}

@mixin pc-design{
    @media only screen and (min-width: $lg) {
        @content;
    }
}

@mixin default-shadow {
    box-shadow: 1px 1px 5px $shadow-color;
}

@mixin default-link {
    text-decoration: none;
    background-color: $white;
}

@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), '#{$key}');
          $theme-map: map-merge(
            $theme-map,
              (
                $key: $value,
              )
            ) !global;
          }
          @content;
          $theme-map: null !global;
        }
     }
  }

@function themed($key) {
    @return map-get($theme-map, $key);
}