@import "normalize";
@import "variables";
@import "mixins";
@import "loading-style";

html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
  
body {
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

b, strong {
    font-weight: 600;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    background-color: inherit;
    border: none;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
}

.error-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;

    @include themify($themes) {
        color: themed('color');
    }

    a{
        @include default-link;
        @include default-shadow;
        padding: .5rem 2rem;
        margin-top: .5rem;

        @include themify($themes) {
            background: themed('elementBackground');
            color: themed('color');
        }
    }

    h2 {
        text-align: center;
    }

    img {
        width: 18rem;
        height: auto;
        margin-bottom: 1rem;
    }
}

header {
    box-shadow: 1px 2px 4px 1px $shadow-color;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;

    @include themify($themes) {
        background: themed('elementBackground');
        color: themed('color');
    }

    h2 {
        display: block;
        @include tablet-design{
            font-size: 1.5rem;
        }
    }

    button {
        @include tablet-design{
            font-size: 1rem;
        }

        color: inherit;
        display: flex;
        margin-left: auto;
        font-weight: 600;
        font-size: .8rem;

        svg {
            @include tablet-design{
                width: 1.3rem;
                height: 1.3rem;
            }

            @include themify($themes) {
                fill: themed('color');
            }

            width: 1.1rem;
            height: 1.1rem;
            margin-right: .5rem;
        }
    }
}

main{
    padding: 2rem 0;
    min-height: calc(100vh - 88px - 78px);

    @include themify($themes) {
        background: themed('mainBackground');
    }

    @include tablet-design{
        padding: 2rem 3rem;
    }

    .search-container{
        display: flex;
        flex-direction: column;
        padding-left: 1.7rem;

        @include tablet-design{
            flex-direction: row;
            padding-left: 0;
        }

        input, select{
            width: fit-content;
            height: fit-content;
            padding-top: .7rem;
            padding-bottom: .7rem;
            font-size: .8rem;
            border: none;
            border-radius: 3px;
            font-weight: 600;
            @include default-shadow;
        }

        input{
            margin-bottom: 2rem;
            width: 14rem;
            padding-left: 40px;

            @include themify($themes) {
                background: themed('searchInputBackground');
                color: themed('color');
            }

            @include tablet-design{
                margin-bottom: 0;
                width: 17rem;
            }
        }

        select {
            @include tablet-design{
                margin-left: auto;
            }

            @include themify($themes) {
                background: themed('elementBackground');
                color: themed('color');
            }

            padding-left: 1.1rem;
            padding-right: 1.1rem;
        }
    }

    .country-list-container{
        padding: 2rem 0;
        overflow: hidden;
        display: grid;
        grid-template-columns: 15rem;
        justify-content: center;
        column-gap: 3rem;
        row-gap: 3rem;
        
        @include tablet-design {
            grid-template-columns: 15rem 15rem;
        }

        @include laptop-design {
            grid-template-columns: 15rem 15rem 15rem;
        }

        @include pc-design {
            grid-template-columns: 15rem 15rem 15rem 15rem;
        }

        article {
            width: 15rem;
            @include default-shadow;
            border-radius: 6px 6px 6px 6px;
            position: relative;

            .link{
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            h3{
                padding: 1rem 0;
            }

            .country-information{
                padding: 0 1rem 2rem;
                border-radius: 0px 0px 6px 6px;

                @include themify($themes) {
                    background: themed('elementBackground');
                    color: themed('color');
                }
            }

            .image-container{
                width: 15rem;
                height: 10.18rem;
                overflow: hidden;
                border-radius: 6px 6px 0 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                font-size: .8rem;
            }

            ul li:not(:last-child){
                margin-bottom: .5rem;
            }
        }
    }

    .country-details-container{
        a{
            @include default-link;
            @include default-shadow;
            @include themify($themes) {
                background: themed('elementBackground');
                color: themed('color');
            }

            display: inline-flex;
            flex-direction: row;
            align-items: center;
            padding: .5rem 2rem;
            margin-left: 1rem;

            svg{
                margin-right: .3rem;
            }
        }

        .country-details-grid-container{
            @include tablet-design{
                grid-template-columns: 34rem;
            }

            @include laptop-design{
                grid-template-columns: 25rem 25rem;
            }

            @include pc-design{
                grid-template-columns: 29rem 29rem;
            }

            padding: 3rem 0;
            display: grid;
            grid-template-columns: 20rem;
            column-gap: 3rem;
            width: fit-content;
            margin: 0 auto;

            .country-details-section{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;

                @include themify($themes) {
                    color: themed('color');
                }

                h1{
                    @include laptop-design{
                        margin-top: 0;
                    }

                    margin-top: 2rem;
                }

                p{
                    font-size: .8rem;

                    strong{
                        @include laptop-design{
                            display: inline;
                            margin-bottom: 0;
                            margin-right: .4rem;
                        }

                        display: block;
                        margin-bottom: 1rem;
                    }

                    span{
                        display: inline-block;
                        border: 1px solid $dark-gray;
                        padding: .3rem .6rem;
                        margin-top: .3rem;
                    }

                    span:not(:last-child){
                        margin-right: .3rem;
                    }
                }
            }

            img{
                width: 100%;
                height: auto;

                @include themify($themes) {
                    border: themed('countryFlagBorder');
                }
            }

            .details-list-container{
                @include tablet-design{
                    flex-direction: row;
                }

                display: flex;
                flex-direction: column;
                padding: 1.5rem 0 2.5rem;
                li:not(:last-child){
                    margin-bottom: 1rem;
                }

                ul{
                    font-size: .8rem;
                }

                .right{
                    @include tablet-design{
                        margin-left: auto;
                        margin-top: 0;
                    }
                    margin-top: 2rem;
                }
            }
        }
    }
}

footer{
    border-top: 1px solid $dark-gray;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include themify($themes) {
        background: themed('elementBackground');
        color: themed('color');
    }

    a{
        text-decoration: underline;
        color: inherit;
    }

    small{
        margin-top: 1rem;
    }
}